.d-f {
    display: flex;
  }
  .jf-c {
    justify-content: center;
  }
  .f-d {
    flex-direction: column;
  }
  .al-c {
    align-items: center;
  }
  
  .w-100 {
    width: 100%;
  }
  
  /* --------------header---------------- */
  
   /* ---------header phần liên hệ và đăng nhập--------------  */
  .header_contact {
    background-color: var(--bg-header-contact);
    padding: 10px var(--padding-website);
    box-sizing: border-box;
    color: var(--text-color);
    display: flex;
    
    justify-content: space-between;
  }
  .email i {
    margin-right: 9px;
  }
  .social {
    gap: 20px;
  }
  .social a {
    color: var(--text-color);
    font-size: 1.45rem;
    display: flex;
    align-items: center;
  }
  .social a:hover {
    opacity: 0.7;
  }
  .login {
    position: relative;
    margin-left: 10px;
  }
  
  .login ul {
    display: none;
    top: 35px;
    position: absolute;
    width: 180px;
    box-shadow: 0px 0px 10px #b3b3b3;
    border-radius: 4px;
    z-index: 10;
  }
  .login ul li {
    list-style: none;
    width: 100%;
    display: block;
  }
  .login ul li a {
    color: var(--text-color);
    padding: 10px 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: var(--bg-header-contact);
    transition: 0.2s;
  }
  .login ul li:nth-child(1) a{
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
  }
  .login ul li:last-child a{
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
  }
  .login ul li a:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
  }
  .login:hover.login ul {
    display: block;
    cursor: pointer;
  }
  .login ul::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 9%;
  
    z-index: 1;
    top: -20px;
  }
  .login-userName {
    color: var(--primary-color);
    margin-left: 3px;
  
  }
  .login-userName:hover{
  cursor: pointer;
  }
  .line{
      width: 1px;
      height: 100%;
      background-color: rgb(167, 167, 167);
      margin: 0px 20px;
      margin-right: 10px;
  }
  
   /* --------------header phần logo và menu bar-----------------  */
   .header-logo-menu{
      padding: 0px var(--padding-website);
      display: flex;
      box-sizing: border-box;
      margin-top: 20px;
      justify-content: space-between;
      align-items: center;
  
   }
   .menu_bar li a{
      padding: 0px 20px;
      font-weight: 600;
      font-size: 1.9rem;
   }
   .menu_bar li a:hover{
      opacity: 0.6;
   }
   .like,
  .cart{
      position: relative;
      margin: 0px 10px;
      display: flex;
      align-items: center ;
  }
  .like,
  .cart i{
      font-size: 2.2rem;
  }
  .like,
  .cart i:hover{
      cursor: pointer;
  }
  .like i{
      font-size: 2.25rem;
  }
  .number{
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: red;
      top: -5px;
      right: -6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: var(--white);
  }
   /* --------------header phần danh mục và tìm kiếm số điện thoại-----------------  */
   .header-category_search{
      padding: 0px var(--padding-website);
      display: flex;
      box-sizing: border-box;
      height: 80px;
      justify-content: space-between;
      align-items: center;
   }
   .contain_category{
      background-color: var(--primary-color);
      padding: 10px 15px;
      width: 220px;
      justify-content: space-between;
      border-radius: 1px;
      position: relative;
   }
   .category-text{
      color: var(--white);
      margin-left: 10px;
   }
   .category-bar,.category-icon-down{
      color: var(--white);
      
   }
   .category-bar{
      margin-bottom: 1.5px;
   }
   .category-icon-down{
      margin-bottom: 3px;
      font-size: 1.3rem;
   }
   .search-btn{
      padding: 15px 20px;
      background-color: var(--primary-color);
      color: var(--white);
      border: none;
      outline: none;
      font-weight: 600;
   }
   .search-btn:hover{
    opacity: 0.7;
    cursor: pointer;
   }
   .input-search{
      width: 38rem;
      padding-left: 15px;
      outline: none;
      border: 1.2px solid #d7d7d7;
      border-right: none;
    
   }
   .input-search:focus-within{
      border-color: #888;
   }
   .icon-phone{
    width: 4.4rem;
    background-color: var(--bg-header-contact);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.4rem;
  
   }
   .icon-phone:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
   }
   .icon-phone:hover i{
    color: black;
    transition: 0.3s ;
   }
   .icon-phone i{
    color: #888;
    font-size: 1.4rem;
   }
   .numberPhone{
    margin-left: 10px;
   }
   .numberPhone_number{
    color: var(--black);
    font-weight: 600;
   }
   .numberPhone_24{
    color: #888;
   }
  
   
  
  
  .contain_category ul {
    display: none;
    top: 45px;
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 10px #b3b3b3;
    border-radius: 4px;
    z-index: 10;
    left: 0px;
  }
  .contain_category ul li {
    list-style: none;
    width: 100%;
    display: block;
  }
  .contain_category ul li a {
    color: var(--text-color);
    padding: 10px 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: var(--bg-header-contact);
    transition: 0.2s;
  }
  .contain_category ul li:nth-child(1) a{
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
  }
  .contain_category ul li:last-child a{
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
  }
  .contain_category ul li a:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
  }
  .contain_category:hover.contain_category ul {
    display: block;
    cursor: pointer;
  }
  .contain_category ul::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 9%;
  
    z-index: 1;
    top: -20px;
  }
  /* ---------------main----------------------- */
  
  .header{
    padding:  0 186px;
    margin: auto;
    
  }
  
  
  
  
  