#container{
    width: 90%;
    margin: auto;
    padding: 20px;
    /* display: block; */display: block;
}

header{
    height: 65px ;
    width: 100%;
    background-color: black;
    margin: 0 auto;
}
h1{
    text-align: center ;
    margin: auto auto;
    color: white;
    line-height: 65px;

}
.block{
    padding: 10px;
    background-color: whitesmoke;
    display:  flex;
}
.nav{
    width: 25%;
    /* background-color: white; */
    background-color: black; 
    margin: 5px;
    height: 300px; 


}
.content{
    margin: 5px;
    width: 75%;
    height: 600px; 
    overflow: scroll;
    background-color: white;
    padding: 50px; 
}
h2{
    text-align: center;
    color: red;
    margin: 10px;
    font-size: 28px;
}
ul {
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 20px;
}
ul li{
    margin: 10px;
    padding: 15px;
}
ul li:hover{
    background-color: whitesmoke;
    ;
}
ul li:hover #a{
    color: red;
}
.btn-add {
    padding: 10px;
    color: white;
    background-color: red;
    font-size: 24px;
    /* margin: 10px; */
    border-radius: 10px;
}
.btn-add:hover {
    background-color: yellow ;
    color:  red;
}
.btn-remove{
    padding: 3px 6px;
    background-color: gray;
     color: white;
     border: none;

     border-radius: 5px;
     font-size: 18px;
     text-align: center;

}
.btn-update{
    padding: 3px 6px;
    background-color: red;
     color: white;
     border: none;
     border-radius: 5px;
     font-size: 18px;
     margin: 5px;
     text-align: center;
}
.btn-update:hover{
    color: red;
    background-color: whitesmoke;
}
.btn-remove:hover{
    background-color: yellow;
    color: red;
}
ul li #a{
    list-style: none;
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
    line-height: 20px;
}
table{
    border: 1px solid black;
}
td{
    padding: 5px;
    border: 1px solid gray;
    text-align: center;
}
#a{
color: white;
}